# Print

In [1]:
print("Halo, nama saya ahmad") # bisa pakai petik dua

Halo, nama saya ahmad

In [2]:
print('Halo, nama saya ahmad') # bisa pakai petik satu

Halo, nama saya ahmad

In [3]:
print("""Halo, nama saya ahmad""") # bisa pakai petik tiga saat diperlukan

Halo, nama saya ahmad

# Variabel

In [4]:
a = 1 # untuk menyimpan nilai dalam variabel a

In [6]:
a # untuk menampilkan nilai dari variabel a

1

In [11]:
a, b = 3, 4 # bisa memasukkan nilai ke dua variabel sekaligus

In [12]:
a

3

In [13]:
b

4

#### nilai variabel terakhir yang kita simpan adalah nilai yang akan tampil seperti dalam variabel a di atas

# List

In [74]:
# untuk list menggunakan kurung siku

In [20]:
a = [1, 2, 3, "empat", "lima"] # saat memberikan nilai pada list boleh bercampur antara string dan intiger/angka

In [15]:
a

[1, 2, 3, 'empat', 'lima']

In [18]:
 a[0] # ini adalah cara menampilkan satu anggota dalam list, perlu diingat bahwa index di python di mulai dari 0

1

In [19]:
a[1]

2

In [22]:
a [-2] # bisa juga dengan minus

'empat'

In [26]:
a.append(6) # perintah untuk memasukkan anggota list di belakang

In [24]:
a

[1, 2, 3, 'empat', 'lima', 6]

In [25]:
len(a) # perintah untuk menghitung berapa jumlah anggota yang ada di list

6

# Slicing

In [29]:
# terbagi dua yaitu inclusive dan exclusive
# slicing di gunakan untuk mengambil sebagian anggota dalam list secara berurutan

In [31]:
a = [0, 1, 2, 3, 4, 5, 6]

In [36]:
a[0: 2] # di sini saya mengambil dari angkat 0 sampai 2, dan hanya masuk 0 dan 1 saja, jadi 0 di sebut inclusive dan 2 di sebut exclusive

[0, 1]

In [37]:
a[0: 5] # 0 inclusive dan 5 exclusive

[0, 1, 2, 3, 4]

In [38]:
a[:5] # kalau kita mau ambil dari index pertama atau 0, angka 0 boleh tidak di tulis

[0, 1, 2, 3, 4]

In [39]:
a[3:] # sebaliknya ketika mau ambil sampai akhir boleh tidak di tulis angkanya seperti ini

[3, 4, 5, 6]

In [46]:
a[0:6:2] # artinya mengambil dari 0 sampai 6, tapi selang 2 angka dan 6 tetap exclusive

[0, 2, 4]

# Join dan Split

In [47]:
a = ["cat", "dog", "fish"]

In [52]:
", ".join(a) # untuk menghubungkan anggota dalam list dengan karakter apa aja seperti koma, spasi, dsb

'cat, dog, fish'

In [53]:
a = "Sayid Muhammad Jundullah"

In [56]:
a.split() # untuk memisahkan setiap kata dalam list yang dipisahkan dengan spasi

['Sayid', 'Muhammad', 'Jundullah']

In [58]:
a = "hari ini, saya pergi ke pasar"

In [69]:
a.split()

['hari', 'ini,', 'saya', 'pergi', 'ke', 'pasar']

# Disctionary

In [71]:
# key : value

In [16]:
a = {"cat" : "kucing",
     "dog" : "anjing", 
     "gajah" : "elephant"
    } 
# dalam dict menggunakan kurung kurawal

In [78]:
a["cat"] # ini adalah cara memanggil key dalam dict, menggunakan kurung siku

'kucing'

In [79]:
a["bird"] = "burung" # untuk menambahkan key dan value ke dalam dict a

In [81]:
a # menampilkan seluruh key dan value dalam dict a

{'cat': 'kucing', 'dog': 'anjing', 'gajah': 'elephant', 'bird': 'burung'}

In [82]:
a.keys() # untuk menampilkan keys dari dict a

dict_keys(['cat', 'dog', 'gajah', 'bird'])

In [83]:
a.values() # untuk menampilkan value dari dict a

dict_values(['kucing', 'anjing', 'elephant', 'burung'])

In [86]:
nilai = {"Andi" : 40, "Budi" : 55, "Asep" : 88, "Tasya" : 96} # program sederhana untuk menyimpan nilai ujian

In [91]:
nilai["Andi"] # untuk melihat nilai andi yang berada dalam dict (menggunakan kurung siku)

40

In [92]:
nilai["Budi"] = 78

In [93]:
nilai

{'Andi': 40, 'Budi': 78, 'Asep': 88, 'Tasya': 96}

# Fungsi

In [2]:
def jumlah(a, b):
    return a + b

In [4]:
jumlah(3, 4)

7

In [5]:
def perkalian(a, b):
    return a * b

In [6]:
perkalian (123, 123)

15129

# Conditionals

In [13]:
score = 60

In [14]:
if 0 <= score < 60 :
    print ("Indeks = C")
elif 60 <= score < 80 :
    print ("indeks = B")
elif 80 <= score < 100 :
    print ("indeks = A")
elif score == 100 :
    print ("indeks = S")
else : 
    print ("nilai salah")

indeks = B

In [1]:
def konversi_ke_indeks(score):
    if 0 <= score < 60 :
        return ("Indeks = C")
    elif 60 <= score < 80 :
        return ("indeks = B")
    elif 80 <= score < 100 :
        return ("indeks = A")
    elif score == 100 :
        return ("indeks = S")
    else : 
        return ("nilai salah")

In [3]:
konversi_ke_indeks(40)

'Indeks = C'

# Iterasi (Menelusuri )

In [6]:
numbers = [1, 2, 3, 4 ,5 ,6 ,7]

In [8]:
for n in numbers:
    print(n)

1
2
3
4
5
6
7

In [9]:
for score in [10, 20, 40, 50, 60]:  
    print(konversi_ke_indeks(score))

Indeks = C
Indeks = C
Indeks = C
Indeks = C
indeks = B

In [10]:
animals = ['cat', 'dog', 'fish']

In [14]:
for animal in animals:
    print(animal.lower () )

cat
dog
fish

In [15]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
a

{'cat': 'kucing', 'dog': 'anjing', 'gajah': 'elephant'}

In [18]:
a.keys()

dict_keys(['cat', 'dog', 'gajah'])

In [20]:
for i in a.keys():
    print(i.upper())

CAT
DOG
GAJAH

In [33]:
for key in a.keys():
    print("Bahasa indonesianya", key, "adalah", a[key])

Bahasa indonesianya cat adalah kucing
Bahasa indonesianya dog adalah anjing
Bahasa indonesianya gajah adalah elephant

In [42]:
a = []
for i in range(5):
    a.append(i**2)

In [43]:
a

[0, 1, 4, 9, 16]

# Python Comprehension

In [45]:
a = [i**2 for i in range(5)]
a

[0, 1, 4, 9, 16]

In [46]:
a = {i: i**2 for i in range(5)}
a

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [47]:
nilai = [konversi_ke_indeks(score) for score in [10, 20, 30, 40, 50, 60, 70, 80, 90]]
nilai

['Indeks = C',
 'Indeks = C',
 'Indeks = C',
 'Indeks = C',
 'Indeks = C',
 'indeks = B',
 'indeks = B',
 'indeks = A',
 'indeks = A']